/* .contentP {
  height: 609px;
  position: relative;
  width: 1280px;
}

.contentP .headings {
  height: 46px;
  left: 17px;
  position: absolute;
  top: 17px;
  width: 1247px;
}

.contentP .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 22px;
  left: 15px;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 96px;
}

.contentP .div {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 22px;
  left: 263px;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 96px;
}

.contentP .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 22px;
  left: 659px;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 9px;
  white-space: nowrap;
  width: 96px;
}

.contentP .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 22px;
  left: 1070px;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 9px;
  white-space: nowrap;
  width: 96px;
}

.contentP .items {
  height: 532px;
  left: 32px;
  position: absolute;
  top: 53px;
  width: 1180px;
}

.contentP .s-no {
  height: 477px;
  left: 11px;
  position: absolute;
  top: 7px;
  width: 69px;
}

.contentP .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 55px;
  left: 7px;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 53px;
}

.contentP .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 55px;
  left: 8px;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 421px;
  white-space: nowrap;
  width: 53px;
}

.contentP .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 55px;
  left: 7px;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 138px;
  white-space: nowrap;
  width: 53px;
}

.contentP .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 55px;
  left: 7px;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 268px;
  white-space: nowrap;
  width: 53px;
}

.contentP .product {
  height: 499px;
  left: 192px;
  position: absolute;
  top: 15px;
  width: 226px;
}

.contentP .treat {
  height: 65px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 131px;
  width: 152px;
}

.contentP .bourbon {
  height: 62px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 174px;
}

.contentP .thumbsup {
  height: 129px;
  left: 69px;
  object-fit: cover;
  position: absolute;
  top: 236px;
  width: 68px;
}

.contentP .tide {
  height: 116px;
  left: 69px;
  object-fit: cover;
  position: absolute;
  top: 383px;
  width: 72px;
}

.contentP .name {
  height: 495px;
  left: 570px;
  overflow: hidden;
  position: absolute;
  top: 19px;
  width: 348px;
}

.contentP .text-wrapper-8 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 65px;
  left: 0;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 278px;
}

.contentP .text-wrapper-9 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 65px;
  left: 0;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 131px;
  width: 325px;
}

.contentP .p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 65px;
  left: 0;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 263px;
  width: 278px;
}

.contentP .text-wrapper-10 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 65px;
  left: 10px;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 395px;
  width: 348px;
}

.contentP .price {
  height: 447px;
  left: 1070px;
  position: absolute;
  top: 19px;
  width: 78px;
}

.contentP .text-wrapper-11 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 44px;
  left: 9px;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 48px;
}

.contentP .text-wrapper-12 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 44px;
  left: 9px;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 402px;
  white-space: nowrap;
  width: 69px;
}

.contentP .text-wrapper-13 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 44px;
  left: 9px;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 264px;
  white-space: nowrap;
  width: 56px;
}

.contentP .text-wrapper-14 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 44px;
  left: 9px;
  letter-spacing: -0.26px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 137px;
  white-space: nowrap;
  width: 48px;
}
.contentP .div2 {
  text-align: left;
  font-size: 24px;
  width: 100%;
} */

.contentP {
  height: auto;
  width: 100%;
}

.div2 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 20px;
  text-align: center;
}

.product-image {
  width: 100px;
  height: auto;
}

.product-table th {
  background-color: #f2f2f2;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
}
